
/* #c44536;
#084c61;
#4e8098; */
body {
  padding: 0;
  margin: 0;
  background-color: #dbdfe243;
  height: 100vh;
}
img {
  width: 100%
}
li {
  list-style-type: none;
}
a {
  text-decoration: none
}
input {
  padding: 10px;
  margin: 0;
  border: 0;
}
.wrapper {
  display: flex;
  flex-direction: column;
}
span {
  font-size: 12px;
  color: #dbdfe2
}
header h1, .navbar a , .data, section.searchbar a{
  color: #dbdfe2;
}
header {
  position: fixed;
  margin: -10px 5%;
}

/* flex items */
.navbar,.mainsearch, section.searchbar p,.carocel {
  display: flex;
}
/* \navbar */
.navbar {
  justify-content: flex-end;
  z-index: 1;
}
.navbar ul{
  max-width: 400px;
  display: flex;
  flex: 1;
}
.navbar li {
  flex: 1
}
/* background */
.background { 
  margin-top: -51px;
  /* z-index: 0; */
  /* position: relative; */
  /* background: url('img/BEUGBRe.jpg') no-repeat top;
  background-size: 100%; */
  border: 1px solid red;
  /* background-blend-mode: overlay; */
  /* background-color: #c44536; */
  width: 100%;
  /* height: 100vh; */
}
.backgroundcover {
  /* height: auto; */
  /* width: 100% ; */
  background-color: #6e060680;
  /* margin: 60% auto; */
  /* z-index: 5; */
  /* position: absolute; */
  /* top: 0 */
}
.carocels img {
  width: 20%;
  height: auto;
}
.carocel{
  justify-content: flex-start;
}
.carocels {
  /* margin: -40% auto; */
  z-index: 1;
  width: 80%;
  border: 1px solid rgb(247, 245, 245);
  flex-direction: column;
}
.carocel1 {
  width: 100%;
}
.carocel2 {
  margin-top: -12%
}
.carocel3 {
  margin-top: -12%;
}
.carocel1 img{
  animation:  images 12s ease forwards;
}
.p {
  margin-top: 70%
}

@keyframes images{
  0% {
    transform:  scale( .5);
  }
  20% {
    margin-left:  20%;
    transform:  scale(2);
  }
  40% {
    margin-left:  40%;
    transform:  scale(4);
  }
  80% {
    margin-left:  80%;
    transform:  scale(1);
  }
  100% {
    margin-left:  0%;
    transform:  scale(1);
  }
  
}

/* data */
.data {
  background-color: #4e8198;
  z-index: 1;
}
.data {
  max-width: 180px;
  margin-top: -35%;
  text-align: center
}
.data h2 {
  font-size: 17px;
  color: #90c2e7;
}
/* searchbar */
section.searchbar {
  margin: 0% auto;
  width: 60%;
  padding: 15px 10px;
  background-color: #084c6190;
  border-radius: 5px;
  z-index: 1;
}
.mainsearch {
  width: 90%;
  margin: 0 auto;
  width: 0 auto;
  border-radius: 5px;
  background-color: #dbdfe2;
}
section.searchbar input {
  flex: 7 1 90%
}
section.searchbar p {
  flex: 1 1 10% ;
  text-align: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  align-items: center;
  background-color: #c44536;
}
