
body {
  padding: 0;
  margin: 0;
  background-color: #dbdfe243;
  height: 100vh;
}
img {width: 100%}
li {list-style-type: none;}
a {text-decoration: none}
input {
  padding: 10px;
  margin: 0;
  border: 0;
}
.wrapper {
  display: flex;
  flex-direction: column;
}
span {font-size: 12px;}
header h1, .navbar a , .locationAndTime, section.searchbar a, .locationAndTime span, .comment {
  color: #dbdfe2;
}
.backgroundcover, section.searchbar {
  background-color: #084c6190;
}
 .navbar a:hover {
  color: #dbdfe2be;
}
header {
  position: absolute;
  margin: -10px 5%;
  z-index: 1;
}

/* flex items */
.navbar,.mainsearch, section.searchbar p,.carocel, .details,.navbar ul, .event, .diffEvents, .likes, .eventDetails{
  display: flex;
}
/* \navbar */
.navbar {
  justify-content: flex-end;
  z-index: 1;
}
.navbar ul{
  max-width: 400px;
  flex: 1;
}
.navbar li {
  flex: 1
}
/* background */
.background { 
  margin-top: -51px;
  z-index: 0;
  width: 100%;
  position: absolute;
}
.backgroundcover {
  height: 123%;
  width: 100% ;
  background-color: #00091063;
  margin: -60% auto;
  position: absolute;
}



/* CAROCEL */
.carocels img {
  width: 20%;
  height: auto;
  opacity: 0;
}
.carocels img:hover {
  transform: scale(4) !important ;
  margin: 0 auto !important;
  z-index: 1 !important;
}
.carocel{justify-content: flex-start;
}
.carocels {
  margin: 17% auto;
  z-index: 1;
  width: 80%;
  flex-direction: column;
}
.carocel1 {width: 100%;}
.carocel2 {margin-top: -12%}
.carocel3 {margin-top: -12%;}
.carocel3 img{animation:  images 20s  ease forwards 5;}
.carocel2 img{animation:  images 20s 7s ease forwards 5;}
.carocel1 img{animation:  images 20s 12s ease forwards 5;}
@keyframes images{
  0% {
    transform: scale(.5) rotateY(90deg);
    opacity: .2;
  }
  10% {
    margin-left:  20%;
    opacity: 1;
    transform:  scale(2);
  }
  40% {
    margin-left:  40%;
    transform: scale(4);
    opacity: 1;
  }
  80% {
    margin-left:  80%;
    transform: scale(1) rotateY(-90deg);
    opacity: 1;
    z-index: 0;
  }
  90% {
    opacity: .05;
    z-index: 0;
  }
  100% {
    margin-left:  0%;
    transform: scale(1) rotateY(0deg);
    opacity: .0;
  }
  
}

/* locationAndTime */
.details {
  margin-top: -2.5%;
  z-index: 1;
  justify-content: space-between;
  padding: 0 3%;
}
.locationAndTime {text-align: center;}
.date { padding: 0 10px;}
.comment {
  padding: 0;
  font-size: 20px;
  font-weight: bolder;
}
.comment p:hover {color: #dbdfe2 !important}
.locationAndTime h2 {
  font-size: 17px;
  color: #4e8198;
}
/* searchbar */
section.searchbar {
  margin: 1% auto;
  width: 60%;
  padding: 15px 10px;
  border-radius: 5px;
  z-index: 1;
}
.mainsearch {
  width: 90%;
  margin: 0 auto;
  border-radius: 5px;
  background-color: #dbdfe2;
}
section.searchbar input {flex: 7 1 }
section.searchbar p {
  flex: 1 .5  ;
  text-align: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  align-items: center;
  background-color: #c44536;
}
.comment p { animation: comment .7s linear 10}

@keyframes comment {
  0%{ color: #dbdfe2;}
  50%{color: transparent;}
  100%{color: #dbdfe2;}
}
@keyframes comment1 {
  0%{ color: #c44536}
  50%{color: transparent;}
  100%{color: #c44536;}
}

/* event section */
.event {
  width: 90%;
  margin: 5% auto;
  background-color: #dbdfe21e;
}
.eachEvent{ flex: 3;}
.eachEvent h1{ 
  text-align: center;
}
.eachEvent h1, .topic h2,.eventTime,.eventDate{margin: 0;}
.topic h2 {padding: 3% 0}
.currentEvent {flex: 2;}

.topic {flex: 3;}
.eventDetails {
  flex: 1;
  font-size: 80%;
  flex-direction: column;
  margin: auto;
  border: 1px solid #dbdfe24a;
}
.eventDetails h3{
  align-items: center;
  padding: 2% 0;
}
.eventDetails span{font-size: 70%}
.diffEvents {
  border: 1px solid #dbdfe2;
  font-size: 60%;
  margin:  3%;
  padding: .5% 1%
}
.diffEvents:hover {
  background-color: #dbdfe23f;
}
.likes a{
  font-size: 90%;
  margin-right: 3%;
}


@media all and  (max-width: 1400px){
  /* .comment p {animation: comment1 .7s linear 10 !important} */
  .details {
  background-color: white;
  text-align: center;
  align-items: center;
  margin-top: -2%
} 
.locationAndTime {
  display: flex;
  order: 2;
}
.locationAndTime span,.comment p:hover{color: #c44536 !important}
.locationAndTime {background-color: transparent;}
.comment p {color: #c44536 !important}
} 

@media all and  (max-width: 770px){
  .details {flex-direction: column;  }
  .background {margin-top: 0px;}
  .comment {font-size: 80%;flex: 1}
  .locationAndTime h2 {font-size: 80%;}
  .locationAndTime span {font-size: 70%;}
  section.searchbar {width: 90%; padding: 5px 0 }
  .mainsearch {width: 95%; }

  .navbar li {position: absolute;}
}